body {
background-image:url('../img/xbzbackground.jpg');
background-color:#000;
}
.container-fluid.header{
    height:120px;
    background:#aace50; /* Old browsers */
background:-moz-linear-gradient(top,#aace50 0%,#80b40a 100%); /* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#aace50),color-stop(100%,#80b40a)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#aace50 0%,#80b40a 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#aace50 0%,#80b40a 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,#aace50 0%,#80b40a 100%); /* IE10+ */
background:linear-gradient(to bottom,#aace50 0%,#80b40a 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr= '#aace50 ',endColorstr= '#80b40a ',GradientType=0 ); /* IE6-9 */
}
.avatar{
    background-color:#fff;
    height:80px;
    position: relative;
top: 80px;

    }
.container-margin {
padding-top:18px;
background-color:#fff;
}

.no-padding {
padding-right:0px;
padding-left:0px;
}

.hero-unit {
background-color:#C7C7C8
}

.navbar .brand {
color:#fff;
}

#slogan {
padding:20px;
}

#register {
padding:12px
}

#register legend {
margin-bottom:2px
}
/*#42A555   #A1D358
border-left: solid 1px #BFE998;
*/
.topbar {
padding:20px;
height:148px;
border-radius:0px;
background-color:#A1D358
}

.navbar {
color:#fff;
margin:0px;
}

.navbar-inner {
min-height:60px;
padding-right:20px;
padding-left:190px;

}
.navbar .btn-navbar {
}

.navbar .nav .active >a,.navbar .nav .active >a:hover {
background-color:#AADA3F;
}

.navbar .nav >li >a {
text-shadow:0px 1px 1px #AADA3F;
color:#222 !important;
padding:24px 14px 8px;
font-family: 'Electrolize', sans-serif;
font-size:24px;
box-shadow:0 -1px 0 rgba(0,0,0,.20) inset,0 1px 0 rgba(255,255,255,.05);
}

.hero-unit p {
font-size:14px
}

.widget-header {
padding-left:20px;
color:#fff;
font-family: 'Segoe UI ',Arial,Sans-Serif;
background-color:#FF8639; /*Primary Green*/
overflow:auto;
zoom:1; /* IE6 */
text-align:left;
line-height:38px;
overflow:auto; /* Give "layout" for IE6-7 filters to work */
}

.offset2 {
margin-left:230px !important;
}

.recent-topics {
margin:0px;
padding-left:4px;
}

.recent-topics li.even {
}

.recent-topics li {
list-style-type:none;
padding:2px 2px 2px 22px;
margin-left:0px;
}

.recent-topics .block {
display:block;
}

.recent-topics span {
font-size:0.85em;
}

.recent-topics i {
font-weight:normal;
font-size:0.85em;
}

.recent-topics strong {
font-weight:inherit;
}

.recent-topics li.odd {
background-color:#F0EEE8;
}

.recent-topics .new-topic {
background:url( '/forum/Themes/ds-natural_20/images/swedish-utf8/new.gif ') no-repeat 95% 12%
}